{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    {% if render_cart %}
        <script type="text/javascript" src="{% static 'js/lib/js-cookie/js.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/store/cart/cart.js' %}"></script>
    {% endif %}
{% endblock %}

{% block header %}
    {% include 'logo.html' %}
    {% include 'menus/menu_navigation.html' %}
    <div id="main_contacts">
        <span>г. Пермь</span><br>
        {% load user_profile_tags %}
        {% show_main_contacts %}
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="item">
        {% include 'menus/menu_catalog.html' %}
    </div>
    {% if render_cart %}
        <div id='cart-preview-block' class="item">
            {% load cart_tags %}
            {% get_prod_cart request as products %}
            {% render_preview_cart products %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="breadcrumbs" style="margin-top: 10px; ">
        <a href="{% url 'items_in_category' item.category.id %}"> {{ item.category.name }} </a> >> {{ item.name }}
    </div>
    <div style="text-align: left; margin-bottom: 20px;">
        <h1 class="underlined_bottom" style="display: inline-block; margin-left: 0; padding-left: 10px; ">{{ item.name }}</h1>
    </div>
    <div id = "item" style="margin: 10px; ">
        {% load thumbnail %}
        <div id="item_image">
            <img src="{{ item.main_image.image|thumbnail_url:'item_page' }}" alt="" />
        </div>
        <div id="item_description">
            <span class="normal">{{ item.description }}</span>
        </div>
        <div id="charact-wrapper">
            <table id="charact-table">
                <thead>
                    <tr>
                        <th></th>
                        {% for header in table.modifications %}
                            {% if header.id|stringformat:'s' in selected_modifications %}
                                <td class="selected">{{ header.name }}</td>
                            {% else %}
                                <td>{{ header.name }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for field_type in table.field_types %}
                        {% load catalog_tags %}
                        {% if table.values|index:forloop.counter0 %}
                            <tr>
                                <th>{{ field_type.title }}</th>
                                {% for val in table.values|index:forloop.counter0 %}
                                    <td>{% print_characteristic val %}</td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% if render_cart %}
                        <tr class="add-to-cart-buttons">
                            <th></th>
                            {% for modif in table.modifications %}
                                <td><a href="#" id="bt-{{ modif.id }}" class="simple-button add-to-cart">В корзину</a></td>
                            {% endfor %}
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}