{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Главная
{% endblock %}

{% block header %}
    {% include 'logo.html' %}
    {% include 'menus/menu_navigation.html' %}
    <div id="main_contacts">
        <span>г. Пермь</span><br>
        {% load user_profile_tags %}
        {% show_main_contacts %}
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="item">
        {% load catalog_tags %}
        {% print_catalog_menu %}
    </div>
{% endblock %}

{% block content %}
    {% load slideshows_tags %}
    <div id="slideshow">
        {% render_slideshow 'main' %}
    </div>
{% endblock %}