{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	Сервисы
{% endblock %}

{% block header %}
    {% include 'logo.html' %}
    {% include 'menus/menu_navigation.html' %}
    <div id="main_contacts">
        <span>г. Пермь</span><br>
        {% load user_profile_tags %}
        {% show_main_contacts %}
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="item">
        {% include 'menus/menu_catalog.html' %}
    </div>
{% endblock %}

{% block content %}
    <div style="margin: 10px">
        <a style="display:block" href="{% static 'adrian/documents/repair.xls' %}">Ремонт оборудования</a>
        <a style="display: block" href="{% static 'adrian/documents/setting.xls' %}">Установка оборудования</a>
    </div>
{% endblock %}