{% comment %}
    products - cart.models.ProductsList
{% endcomment %}

<table class="cart-products" border="1">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Цена за единицу</th>
        <th>Количество</th>
        <th>Цена всего</th>
    </tr>
    </thead>
    {% load money_tags %}
    {% for prod in products %}
        <tr>
            {% load catalog_tags %}
            <td><a href="{% url_modification prod.modification %}" class="simple-link normal-size">{{ prod.modification.item.name }} {{ prod.modification.name }}</a></td>
            <td>{{ prod.price|print_price }} {{ prod.unit }}</td>
            <td>{{ prod.count }}</td>
            <td>{{ prod.total_price|print_price }} {{ prod.unit }}</td>
        </tr>
    {% empty %}
        <tr>
            <td>Корзина пуста</td>
        </tr>
    {% endfor %}
    <tr class="cart-total">
        <td>Итого:</td>
        <td colspan="2"></td>
        <td>{{ products.total_price|print_price }} {{ products.get_total_price_unit }}</td>
    </tr>
</table>