{% extends 'base.html' %}
{% comment %}
    products - cart.models.ProductList
{% endcomment %}

{% load staticfiles %}

{% block title %}
    Оформить заказ
{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/lib/js-cookie/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/store/cart/cart.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'logo.html' %}
    {% include 'menus/menu_navigation.html' %}
    <div id="main_contacts">
        <span>г. Пермь</span><br>
        {% load user_profile_tags %}
        {% show_main_contacts %}
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="item">
        {% include 'menus/menu_catalog.html' %}
    </div>
{% endblock %}

{% block content %}
    <div style="text-align: left; margin-bottom: 20px;">
        <h1 id="content-title" class="underlined_bottom">Оформить заказ</h1>
        {{ test }}
        <table class="cart-products">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Цена за единицу</th>
                    <th>Количество</th>
                    <th>Цена всего</th>
                </tr>
            </thead>
            {% load money %}
            {% for prod in products %}
                <tr>
                    <td>{{ prod.modification.item.name }} {{ prod.modification.name }}</td>
                    <td>{{ prod.price|print_price }} {{ prod.unit }}</td>
                    <td>{{ prod.count }}</td>
                    <td>{{ prod.total_price|print_price }} {{ prod.unit }}</td>
                </tr>
            {% empty %}
                <tr><td>Корзина пуста</td></tr>
            {% endfor %}
            <tr class="cart-total">
                <td>Итого:</td>
                <td colspan="2"></td>
                <td>{{ products.total_price|print_price }} {{ products.get_total_price_unit }}</td>
            </tr>
        </table>
        <form class="checkout-info" method="post">
            {% csrf_token %}
            <table>
                {% for field in form.visible_fields  %}
                    <tr class="field-wrapper{% if field.errors|length > 0 %} {{ form.error_css_class }}{% endif %}">
                        <td>{{ field.label_tag }}</td>
                        <td>
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {{ form.media }}
            <input type="submit" value="Оформить" class="simple-button" />
        </form>
    </div>
{% endblock %}