{% comment %}
    products - cart.models.ProductsList
{% endcomment %}

<div class="large">
    <div class="title padding_left_10 underlined_bottom">
        <h3>Корзина</h3>
    </div>
    <ul class="padding_left_10">
        <ul id="cart-preview-list">
            {% load money %}
            {% for prod in products %}
                <li>
                    <a href="{% url 'item_page' prod.modification.item.id %}?modification={{ prod.modification.id }}" class="simple-link normal-size">{{ prod.modification.item.name }} {{ prod.modification.name }}</a> ({{ prod.count }})
                    <p><span class="price">{{ prod.total_price|print_price  }}</span> <span class="price-unit">{{ prod.unit }}</span></p>
                </li>
            {% empty %}
                Пусто
            {% endfor %}
            {% if products|length > 0 %}
                <p>Всего({{ products|length }}): <span class="price">{{ products.total_price|print_price }}</span> {{ products.get_total_price_unit }} </p>
            {% endif %}
        </ul>
        <table id="cart-preview-toolbox">
            <tr>
                <td><a href="{% url 'cart_checkout' %}" class="simple-button">Оформить</a></td>
                <td><a href="#" class="simple-button clear-cart">Очистить</a></td>
            </tr>
        </table>
    </ul>
</div>