{% comment %}
    items_in_cart - list of {modification: modification, count: int, comm_price: {val: Decimal, unit: str}}.
    commom_price - {'val':Decimal, 'unit':str}
{% endcomment %}

<div class="large">
    <div class="title padding_left_10 underlined_bottom">
        <h3>Корзина</h3>
    </div>
    <ul class="padding_left_10">
        <ul id="cart-preview-list">
            {% load store_template_tags %}
            {% for prod in items_in_cart %}
                <li>
                    <a href="{% url 'item_page' prod.modification.item.id %}" class="simple-link normal-size">{{ prod.modification.item.name }} {{ prod.modification.name }}</a> ({{ prod.count }})
                    <p><span class="price">{{ prod.comm_price|print_price  }}</span> <span class="price-unit">{{ prod.unit }}</span></p>
                </li>
            {% empty %}
                Пусто
            {% endfor %}
            {% if items_in_cart|length > 0 %}
                <p>Всего: <span class="price">{{ common_price.val|print_price }}</span> {{ common_price.unit }} </p>
            {% endif %}
        </ul>
        <table id="cart-preview-toolbox">
            <tr>
                <td><a href="{% url 'cart_checkout' %}" class="simple-button">Оформить</a></td>
                <td><a href="#" class="simple-button clear-cart">Очистить</a></td>
            </tr>
        </table>
    </ul>
</div>