{% comment %}
    products - cart.models.ProductsList
{% endcomment %}

<div class="large">
    <div class="title">
        <h3>Корзина</h3>
    </div>
    <div>
        <ul id="cart-preview-list">
            {% load money_tags %}
            {% for prod in products %}
                <li>
                    {% load catalog_tags %}
                    <a href="{% url_modification prod.modification %}" class="simple-link normal-size">{{ prod.modification.item.name }} {{ prod.modification.name }}</a> ({{ prod.count }})
                    <p><span class="price">{{ prod.total_price|print_price  }}</span> <span class="price-unit">{{ prod.unit }}</span></p>
                    <a href="#" id="rm-{{ prod.modification.id }}" class="remove-from-cart">удалить</a>
                </li>
            {% empty %}
                Пусто
            {% endfor %}
            {% if products|length > 0 %}
                <p>Всего({{ products|length }}): <span class="price">{{ products.total_price|print_price }}</span> {{ products.get_total_price_unit }} </p>
            {% endif %}
        </ul>
    {% if render_toolbox %}
        <table id="cart-preview-toolbox">
            <tr>
                <td><a href="{% url 'cart_checkout' %}" class="simple-button checkout {% if not products %}disabled{% endif %}">Оформить</a></td>
                <td><a href="#" class="confirm simple-button clear-cart">Очистить</a></td>
            </tr>
        </table>
    {% endif %}
    </div>
</div>