{% comment %}
    products - cart.models.ProductsList
{% endcomment %}

<div class="large cart-preview">
    <div class="title">
        <h3>Корзина</h3>
    </div>
    <div>
        <ul id="cart-preview-list">
            {% load money_tags %}
            {% for prod in products %}
                <li>
                    {% load catalog_tags %}
                    <table class="cart-item">
                        <tbody>
                            <tr>
                                <tr>
                                    <td colspan="2">
                                        <a href="{% url_modification prod.modification %}" class="simple-link normal-size">{{ prod.modification.item.name }} {{ prod.modification.name }}</a>
                                    </td>
                                </tr>
                                <td>
                                     <span class="price">{{ prod.total_price|print_price  }}</span> <span class="price-unit">{{ prod.unit }}</span>({{ prod.count }} шт.)
                                </td>
                                <td class="toolbox">
                                    <a href="javascript:void(0)"
                                       class="remove-from-cart"
                                       onclick="removeFromCart({{ prod.modification.id }})">удалить</a>
                                    <a href="javascript:void(0)"
                                       class="dec-in-cart"
                                       onclick="decInCart({{ prod.modification.id }}, 1)">-1</a>
                                    <a href="javascript:void(0)"
                                       class="inc-in-cart"
                                       onclick="incInCart({{ prod.modification.id }}, 1)">+1</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            {% empty %}
                Пусто
            {% endfor %}
            {% if products|length > 0 %}
                <p>Всего({{ products|length }}): <span class="price">{{ products.total_price|print_price }}</span> {{ products.get_total_price_unit }} </p>
            {% endif %}
        </ul>
    {% if render_toolbox %}
        <table id="cart-preview-toolbox">
            <tr>
                <td><a href="{% url 'cart_checkout' %}" class="simple-button checkout {% if not products %}disabled{% endif %}">Оформить</a></td>
                <td><a href="#" class="confirm simple-button clear-cart">Очистить</a></td>
            </tr>
        </table>
    {% endif %}
    </div>
</div>