{% extends 'base.html' %}
{% comment %}
    products - cart.models.ProductList
{% endcomment %}

{% load staticfiles %}

{% block title %}
    Оформить заказ
{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/lib/js-cookie/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/store/cart/cart.js' %}"></script>
{% endblock %}

{% block header %}
    {% include 'logo.html' %}
    {% include 'menus/menu_navigation.html' %}
    <div id="main_contacts">
        <span>г. Пермь</span><br>
        {% load user_profile_tags %}
        {% show_main_contacts %}
    </div>
{% endblock %}

{% block sidebar_left %}
    <div class="item">
        {% load catalog_tags %}
        {% print_catalog_menu %}
    </div>
{% endblock %}

{% block content %}
    <div style="text-align: left; margin-bottom: 20px;">
        <h1 id="content-title">Оформить заказ</h1>
        {% load cart_tags %}
        {% render_full_cart products %}
        <form class="checkout-info" method="post">
            {% csrf_token %}
            <table>
                {% for field in form.visible_fields  %}
                    <tr class="field-wrapper{% if field.errors|length > 0 %} {{ form.error_css_class }}{% endif %}">
                        <td>{{ field.label_tag }}</td>
                        <td>
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {{ form.media }}
            <input type="submit" value="Оформить" class="simple-button" />
        </form>
    </div>
{% endblock %}