$color-1: #f7f0d4;
$color-2: #c2c4bf;
$color-3: #f9f9f9;
$color-4: #85806d;
$color-5: #E9DB94;
$color-6: #A18E45;
$color-7: #ac9f67;
$color-8: #bbbbbb;
$color-9: #dd4b39;
$color-10: #f1f1f1;
$color-11: #888;
$color-13: #e4e4e4;

@mixin underlined($direction)
{
  border-image-source: url("/static/adrian/images/strip.jpg");;
  border-image-slice: 1;
  @if $direction == 'top' {
    border-image-width: 1px 0 0 0;
  } @else if $direction == 'bottom'{
    border-image-width: 0 0 1px 0;
  }
}

.inline
{
    float: left;
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', futura, 'URW Gothic L', Verdana, sans-serif;
    text-decoration: none;
}

body
{
    background-color: $color-1;
}

#wrapper
{
    min-width: 1024px;
    max-width: 1600px;
    margin: 0 auto;
}

header
{
    position: relative;
    background-color: $color-1;
}

#sidebar_left {
  width: 300px;
  float: left;

  div.item {
    border-left: 1px solid $color-2;
    border-bottom: 1px solid $color-2;
    border-top: 1px solid $color-2;
    margin-bottom: 20px;
    background-color: $color-3;
    box-sizing: border-box;
    overflow: hidden;

    h3{
      @include underlined('bottom');
      padding-left: 10px;
      margin-left: 0px;
      display: inline-block;
    }

    ul{
      margin-left: 10px;
      list-style: none;
    }
  }
}

#content {
  margin-left: 300px;
  border-top: 1px solid $color-4;
  border-right: 1px solid $color-2;
  border-bottom: 1px solid $color-2;
  border-left: 1px solid $color-2;
  background-color: white;

  h1 {
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
    @include underlined('bottom');
  }
}

#content_body
{
  margin-top: 10px;
  text-align: center;
}

a:visited
{
  color: black;
}

header img.logo
{
    margin: 5px;
}

div.title
{
  display: inline-block;
}

/* Links */
a.simple-button,
input.simple-button,
button.simple-button{
  padding: 10px;
  margin: 2px;
  display: block;
  background: $color-5;
  color: black;
  border: none;
  cursor: pointer;

  &:hover{
    cursor: pointer;
    background-color: $color-6;
    color: white;
  }

  &.disabled{
    pointer-events: None;
    background: $color-7;
  }
}

a.simple-link{
  color: black;

  &:hover{
    color: $color-6;
  }
}
/* ----- */

/* Breadcrumbs */
#breadcrumbs
{
  text-align: center;
  color: $color-8;
  font-size: 20px;

  a {
    text-decoration: none;
    color: $color-8;
  }
}
/*----------*/

/* Main contacts */
#main_contacts
{
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: right;
}
/*-------------*/

/* Items in category */
div.item_in_catalog
{
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  border: 1px solid $color-10;
  margin: 0 5px;
  position: relative;

  h3{
    text-align: center;
    background-color: $color-10;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 25px;
    line-height: 50px;
  }

  &:hover h3{
    background-color: $color-6;
    color: white;
  }
}

#items_in_catalog_table
{
    overflow: hidden;
    margin-left: 10px;
}

a.item_in_catalog
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
/*--------------------------*/

/* Item page */
#content_title
{
    text-align: center;
    margin: 5px 0;
}

#item_image
{
    float: left;
    width: 300px;
    border-right: 1px solid $color-11;
}

#item_description
{
    overflow: hidden;
    vertical-align: top;
    padding: 4px;
}

#charact-wrapper
{
    padding-top: 20px;
    width: 100%;
    position: relative;
    overflow: auto;
}

#charact-table
{
  border-collapse: collapse;
  line-height: 1.5em;

  thead{
    color: $color-11;
    background-color: $color-3;
    border: 1px solid $color-13;

    td.selected{
      background-color: $color-6;
      color: white;
    }
  }

  tbody{
    td, th{
      border: 1px solid $color-13;
      font-size: 14px;
    }

    td.selected{
      background-color: $color-1;
    }
  }

  td,
  tbody th{
    padding: 0 10px;
    text-align: center;
  }
}

#charact-table tbody tr:not(.add-to-cart-buttons):hover
{
    background-color: #eee;
    cursor: pointer;
}

a.add-to-cart
{
  overflow: hidden;
  width: 10em;

  div{
    .text{
      text-align: center;
      width: 7em;
      float: left;
    }

    .count{
      width: 2em;
      float: right;
    }
  }
}
/* ----------*/

/* Text */
.normal
{
    font-size: 13pt;
}
.large
{
    font-size: 20px;
}
/* ---- */

/* Menu catalog */
#menu_catalog
{
  h3{
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

#menu_catalog li:before,
#cart-preview-list li:before
{
    content: "-";
}
/* ------- */

/* Menu navigation */
#menu_navigation
{
  margin-left: 300px;
  width: auto;
  display: block;
  overflow: hidden;

  ul{
    list-style: none;
  }

  li.item{
    float: left;
    background-color: $color-5;
    border-top: 1px solid $color-4;
    border-left: 1px solid $color-4;
    border-right: 1px solid $color-4;
    width: 25%;
    box-sizing: border-box;
    text-align: center;

    a{
      color: black;
      text-transform: uppercase;
      line-height: 30px;
      display: block;

      &:hover{
        background-color: $color-6;
        color: white;
      }
    }
  }
}
/* --------------- */

/* contacts page */
#contacts{
  padding-left: 10px;
  @include underlined('bottom');
}

#yamap{
  padding: 10px;
}

div.prev_manager
{
    width: 500px;
    height: 100px;
    overflow: hidden;
    border: 1px solid $color-10;
}

#managers_table
{
    margin-bottom: 4px;
}

#time {
  @include underlined('top');
  padding-left: 10px;
}
/* ------ */

/* cart preview */
#cart-preview-toolbox,
#cart-preview-toolbox tbody,
#cart-preview-toolbox tr
{
    display: block;
}

#cart-preview-toolbox td
{
    width: 50%;
    text-align: center;
}

#cart-preview-list
{
    font-size: 11pt;
}

#cart-preview-list .price
{
    font-weight: bold;
}
/* ------ */

/* Checkout page */
#content-title
{
    display: inline-block;
    margin-left: 0;
    padding-left: 10px;
}

table.cart-products
{
    margin: 10px;
    border-collapse: collapse;
    line-height: 1.5em;
}

table.cart-products thead
{
    color: $color-11;
    background-color: $color-3;
    border: 1px solid $color-13;
}

table.cart-products td,
table.cart-products th
{
    padding: 0 10px;
    text-align: center;
}

table.cart-products td.selected
{
    background-color: $color-5;
}

table.cart-products tbody tr:not(.add-to-cart-buttons):hover
{
    background-color: #eee;
    cursor: pointer;
}

table.cart-products tbody td,
table.cart-products tbody th
{
    border: 1px solid $color-13;
    font-size: 14px;
}

table.cart-products tr.cart-total
{
    font-weight: bold;
}

form.checkout-info
{
    margin: 10px;
}

form.checkout-info input,
form.checkout-info label
{
    font-size: 14pt;
}

form.checkout-info input.address-field
{
    width: 400px;
}

.error input
{
    border: 1px solid $color-9;
}

.error span.error-message
{
    display: block;
    font-size: 8pt;
    color: $color-9;
}

div.success-message
{
    margin: 10px;
}
/* ---- */

#slideshow{
  background-color: $color-1;
  margin: 10px;
  padding: 20px;
  border: 1px solid $color-11;
  display: inline-block;
}